# Lots of junk goes in here.
/caches/
/backups/

# Don't commit secret stuff!
/link/.ssh/known_hosts*
/link/.ssh/cache/*
!/link/.ssh/cache/.gitkeep
/link/.ssh/keys/*
!/link/.ssh/keys/.gitkeep
/link/.ssh/conf/hosts.ssh
!/link/.ssh/authorized_keys

/link/.aws/credentials
!/link/.aws/.gitkeep

# gradle.properties contains nexus credentials
/link/.gradle/gradle.properties
/link/.gradle/caches
/link/.gradle/daemon/
/link/.gradle/native/
/link/.gradle/notifications/
/link/.gradle/wrapper/
!/link/.gradle/.gitkeep

# vim pluggins
/link/.vim/plugged/

# Ignore any file with LOCAL in the name (good for per-machine vars/functions)
*LOCAL*
